.formResults{
    margin: 1rem;
    padding: 2rem;
    width: 300px;
    height: auto;
    background: var(--light-pink);
    border-radius: 3%;
}

.formResults p{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: left;
}